# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
*.tfvars

# Terraform lock file (keep if you want reproducibility)
!.terraform.lock.hcl

# Helm / Kubernetes
*.tgz
helm-cache/
charts/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
